
body{
	background-color:#efecec;
	
}
@media (max-width: 420px) {
	  .recentSelect {
		left: 0;
		right: 0;
		margin: 0 auto;
		bottom:10px; 
		width:300px; 
		height:50px;
		position:fixed
	  }
}
@media (min-width: 420px) {
	.recentSelect {
		left:270px; 
		top:100px; 
		width:300px; 
		height:50px; 
		position:fixed;
	 }
}


button:active, .button:active, button:focus, .button:focus, button:hover, .button:hover{
    border:none !important;
    outline:none !important;
}

.zbtn{
	width:50px;height:50px;
}
.zbtn.rightmenu{
	position:fixed; right:10px; border-radius: 50%;width:50px; height:50px;
}

.z_bag{
	left:39px;
	top:293px; 
	height:150px; 
	position:absolute;
}