@font-face {
	font-family: "Fontsaddict";
	src: url("Fontsaddict.eot");
	src: url("Fontsaddict.eot#iefix") format("embedded-opentype"),
	url("Fontsaddict.woff") format("woff"),
	url("Fontsaddict.ttf") format("truetype"),
	url("Fontsaddict.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="icon-"]:before, [class*=" icon-"]:before,
[class^="icon-"]:after, [class*=" icon-"]:after {   
	font-family: Fontsaddict;
	font-style: normal;
}
.icon-stylish:before {
	content: "\e800";
	font-size: 10px;
}
.icon-black:before {
	content: "\e801";
	font-size: 25px;
}
.icon-t:before {
	content: "\e802";
	font-size: 20px;
	margin-left:-5px;
}
.icon-stylish-1:before {
	content: "\e803";
	font-size: 25px;
}
.icon-female:before {
	content: "\e804";
	font-size: 10px;
}
.icon-skirt:before {
	content: "\e805";
	font-size: 12px;
}
.icon-childish:before {
	content: "\e806";
	font-size: 20px;
}
.icon-bag:before {
	content: "\e807";
	font-size: 10px;
}
.icon-purse:before {
	content: "\e808";
	font-size: 25px;
}
.icon-handbag:before {
	content: "\e809";
	font-size: 10px;
}
.icon-diamond:before {
	content: "\e80a";
	font-size: 10px;
}
.icon-ring:before {
	content: "\e80b";
	font-size: 10px;
}
.icon-fedora:before {
	content: "\e80c";
	font-size: 18px;
	margin-left:-10px;
}
.icon-sportive:before {
	content: "\e80d";
	font-size: 10px;
}
.icon-men:before {
	content: "\e80e";
	font-size: 20px;
}
